<%- include('header'); -%> <div class="content">
    <div class='content'>
        <H1 ID="welcome">WELCOME to Webstore</H1>
    </div>    


    <div class='content'>
        <address>
            <p>Name: Hassan</p>
            <a href="mailto:Hassan@mike.com">Hassan@mike.com</a><br>
            <a href="tel:+39470239749">(311) 39470239749</a>
            <p>Address: shahzad street</p>
        </address>
        <br>
        <address>
            <p>Name: Zayed</p>
            <a href="mailto:Zayed@james.com">Zayed@james.com</a><br>
            <a href="tel:+3443532524">(311) 3443532524</a>
            <p>Address: UAE Palace</p>
        </address>
        <br>
        <address>
            <p>Name: james </p>
            <a href="mailto:james@ed.com">james@ed.com</a><br>
            <a href="tel:+438749234">(311) 438749234</a>
            <p>Address: Clarkson town</p>
        </address>
        <br>
        <address>
            <p>Name: John</p>
            <a href="mailto:John@rock.com">jim@rock.com</a><br>
            <a href="tel:+3944234234">(311) 3944234234</a>
            <p>Address: SIU palace</p>
        </address>
        <br>
    </div>   
<p>Contact the author of this page:</p>
<br>
<br>

<%- include('footer'); -%>

