<%- include('header'); -%> 
<form method="POST" action="/api/login">
    <label>Username</label> <br>
    <input type="text" name="username" placeholder="Please enter your username"> <br>
    <br>
    <label>Password</label> <br>
    <input type="password" name="password" placeholder="Please enter your password"> <br>
    <br>
    <button> submit </button>
</form>

<%- include('footer'); -%>