<%- include('header'); -%> 

<div class="content">

<h2>Register Page</h2><br>    
    <div class="register">    
    <form method="get" action="login.php">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>
        <label><b>Email    
        </b>    
        </label>    
        <input type="text" name="Email" id="Email" placeholder="Username@hotmail.com">    
        <br><br>
        <label><b>Address    
        </b>    
        </label>    
        <input type="text" name="Address" id="Address" placeholder="Address">    
        <br><br>  
        <label><b>ZIP    
        </b>    
        </label>    
        <input type="text" name="ZIP" id="ZIP" placeholder="ZIP">    
        <br><br>     
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Sign Up Here">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form> 
    <br>


<%- include('footer'); -%>